<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body style="margin:none; padding:none; background-color:cornflowerblue"">

    {{{body}}}

</body>
</html>