<div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width: 95vw; height: 95vh; display:flex; justify-content:center; align-items:center; flex-direction:column" >

<h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#eeeeee; border-bottom: 2px solid #eeeeee;">Actor Info</h2>


    <img src={{actor.picture}} height="100" width="100" style="border-radius: 50%;" /> 
    <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:#f7f7f7">
    {{actor.name}} - {{actor.age}}, {{actor.gender}}
    </h3>


</div>