<div class="home-container">
  <img
    src={{user.picture}}
    height="100"
    width="100"
    style="border-radius: 50%;"
  />
  <h2><p>Hi </p><b><span>{{user.nickname}}</span></b></h2>
  <h4>Here's the list of all the:</h4>
  <a
    class="dashboard"
    href="/actor/all/1/5"
    style="list-style-type: none; text-decoration:none;"
  >
    <button>Actors</button>
  </a>
  <a
    class="dashboard"
    href="/movie/all/1/5"
    style="list-style-type: none; text-decoration:none;"
  >
    <button>Movies</button>
  </a>
</div>
