<div class="home-container">
  <h2><p>Hello, Welcome to </p><b><span>Movie DB</span></b></h2>
  <a href="/login/" style="list-style-type: none; text-decoration:none;">
    <button>Log In</button>
  </a>
</div>